<?xml version="1.0"?>
<!--
/**
 * Copyright © Alice Dean. All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="adyen_group_all_in_one">
                <group id="adyen_initial_setup">
                    <field id="credential_id"
                           translate="label comment"
                           sortOrder="10"
                           showInDefault="1"
                           showInWebsite="1"
                           showInStore="0">
                        <label>Credential ID</label>
                        <comment>Fill me in, so I can be used in the bin/magento commands to whitelist URLs</comment>
                    </field>
                    <field id="company_account"
                           translate="label comment"
                           sortOrder="14"
                           showInDefault="1"
                           showInWebsite="1"
                           showInStore="0">
                        <label>Company Account</label>
                        <comment>Adyen Company Account ID found in Adyen Admin</comment>
                    </field>
                    <field id="adyen_api_type"
                           translate="label comment"
                           type="select"
                           sortOrder="50"
                           showInDefault="1"
                           showInWebsite="1"
                           showInStore="0">
                        <label>Adyen Api Type</label>
                        <source_model>Deano\AdyenWhitelistApi\Model\Config\Source\AdyenApiType</source_model>
                        <comment>
                            Whether calls from this module should use merchant or company.
                            You can find out which you need to use in the Adyen Admin by clicking the Adyen symbol in top left,
                            and next to your account should be company or merchant.
                        </comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
